name: Lint

on:
  pull_request:
    branches: [ 'main' ]

jobs:
  lint-and-test-go:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
      - name: Run tests in src/cmd
        run: go test -v ./src/cmd
